.menu {
	display: inline;
}

li {
	display: inline;
	margin: 160px;
}
body {
	background: linear-gradient( 45deg, blue, red );   
	font-family: Alegreya;
	font-size: 20px;
}

.books {
	align-items: center;
}

img {
	width: 300px;
	height: 500px;
	display: inline-block;
}

.description {
	width: 580px;
	height: 500px;
	display: inline-block;
	text-align: justify;
}

.fa {
	display: inline;
	margin: 20px;
}

a:link {
	color: rgb(221, 170, 247);
}

a:visited {
	color: rgb(91, 148, 239);
}

a:hover {
	color: rgb(126, 215, 247);
}

a:active {
	color: rgb(158, 239, 234);
}