body {
	background: linear-gradient( 45deg, rgb(192, 213, 247), rgb(236, 196, 242) );   
	font-family: 'Nixie One', cursive;
	font-weight: bolder;
	font-size: 20px;
	color: rgb(239, 55, 132);
}
h1 {
	/*display: block;
	text-align: center;
	*/
}
.menu {
	position: fixed;
	width: 100%;
	margin-left: -8px;
	margin-top: -120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center; 
	background-color: rgba(175, 69, 185, 0.7);
	color: rgb(255, 208, 226);
}


.menu ul li {
	display: inline-block;
	margin-right: : 30px;
	padding: 5px 100px;
}

.books {
	width: 80%;
	margin: auto;
	text-align: center;
	/*height: 800px;*/
	margin-top: 120px;
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*align-content: space-around;*/
}
img {
	width: 300px;
	height: 500px;
	/*border: 2px;
	border-style: solid;*/
}
.column {
	padding-top: 10px;
	width: 1000px;
	/*margin-right: 100px;*/
}

.column .fila{
	width: 100%;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.column .fila div{
	width:50%;
}

#juliette {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#glasgow {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#skinpalace {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/	
}
#grownup {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#cagedbird {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#wind {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#curiousincident {
	width: 300px;
	height: 520px;
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/	
}
#americangirls {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#lesbianexperience {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#sadgirls {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
#redrosa {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/	
}
#neurocomic {
	width: 300px;
	/*height: 520px;*/
	display: inline-block;
	text-align: justify;
	/*border: 2px;
	border-style: solid;*/
}
div#about {
	text-align: justify;
}
/*
a:link {
	color: rgb(221, 170, 247);
}
a:visited {
	color: rgb(91, 148, 239);
}
a:hover {
	color: rgb(126, 215, 247);
}
a:active {
	color: rgb(158, 239, 234);
}
/*a img:hover {
	background-color: rgb(255, 224, 226);
}*/

.fa {
	display: inline;
	padding-right: 150px;
	/*border: 2px;
	border-style: solid;*/
}
#github {
	padding-left: 70px;
}
#calendar {
	padding-right: 70px;
}

.column a img:hover{
	background-color: blue;
}