.menu {
	display: inline;
}

li {
	display: inline;
	padding: 140px;
}
body {
	background: linear-gradient( 45deg, blue, red );   
	font-family: 'Nixie One', cursive;
	font-weight: bolder;
	font-size: 20px;
}

.books {
	align: center;
}

img {
	width: 300px;
	height: 500px;
}

.description {
	width: 580px;
	height: 250px;
	display: inline-block;
	text-align: justify;
}

.glasgow {
	width: 580px;
	height: 500px;
	display: inline-block;
	text-align: justify;
}
.fa {
	display: inline;
	margin-left: 30px;
}

a:link {
	color: rgb(221, 170, 247);
}

a:visited {
	color: rgb(91, 148, 239);
}

a:hover {
	color: rgb(126, 215, 247);
}

a:active {
	color: rgb(158, 239, 234);
}